{% extends 'bootstrap/base.html' %}
{% import "flask_select2/lib.html" as select2 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <title>{{ title }}</title>
    {% block styles %}
    {{super()}}
    {{ select2.form_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">hiphopUpdater</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('unsub') }}">Unsubscribe</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
      {% block container %}{% endblock %}
    </div>
    {% block footer %}
    <br /><br /><br /><br />
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase font-weight-bold">hiphopUpdater</h5>
          <p>I hope this site helps to keep you informed on when your favorite rappers release music</p>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3"><!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Created Summer 2019</h5>
          <p>This site was created the Summer of 2019 whenever I could get a moment to code, if you want to hire me as an
            intern or give me advice on what could be done better, shoot me an email at colbyjayallen@gmail.com.
          </p>
        </div>
      </div>
    </div>
  </footer>
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {{super()}}
    {{ select2.form_js() }}
    {% endblock %}
  </body>
</html>