{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
  
            <img src="/static/jumbotron/boombox.jpg" class="jumbotron-image" />
  
            <div class="jumbotron-content">
                <h1 class="display-3">Welcome to hiphopUpdater</h1>
                <p>The first word in new Rap releases.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
            </div>
        </div>
    </div>
    <br />
    <h3>Trying to quit Reddit but want to stay updated on when Yandhi finally drops?</h3>
    <p>With hiphopUpdater, you can subscribe to many of your favorite rappers, and our
        website will scan Reddit every 20 minutes looking for FRESH songs, albums or features 
        for the Rappers that you have subscribed to. If we find a match, we will send you
        an email to notify you.</p>
    <p>To get started,</p>
    <a class="btn btn-primary" href="{{ url_for('signup') }}" role="button">Sign Up Here</a>
{% endblock %}